@model Patient

<h1>Patient Details</h1>
<h4>
    @Model.FullName
</h4>
<p>
    <strong>Age:</strong> @DateTime.Today - @Model.DateOfBirth
</p>
<p>
    <strong>National ID:</strong> @Model.NationalId
</p>